body {
    background-color: #1d1d1d;
    font-family: 'Poppins', sans-serif;
  }
  h1 ,h2{
      text-align: center;
      margin:5px;
      font-size: 40px;
      font-weight: 800;
      color: rgba(248, 9, 121, 0.993)
  }